@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&family=Raleway:wght@200;300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.barra{
  width: 100%;
  height: 60px;
  background-color: #106567;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
}
.btnCarrito {
  background-color: #106567;
  border: #f9fbf1 solid 1px;
  box-shadow: none;
}
.btnCarrito:hover {
  background-color: #14a095;
}
.presentacion{
  height: auto;
    width: 100%;
    background-color: #14a095;
}
.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
  padding-bottom: 5%;
}
.descripcion{
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  color: #f9fbf1;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  padding-bottom: 5%;
  text-align: center;
}
.catalogo{
  background-color: #14a095;
  width: 100%;
  height: auto;
  padding-right: 5%;
  padding-left: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card {
  border: 5px double #106567;
  margin-bottom: 5%;
}
.card-title {
  font-family: "Quicksand", sans-serif;
  text-transform: uppercase;
  color: #106567;
  font-weight: bold;
}
.card-text {
  font-family: "Quicksand", sans-serif;
  color: #106567;
}
.btnCard {
  width: 50%;
  height: auto;
  margin-left: 5%;
  margin-bottom: 5%;
  background-color: #106567;
  color: #f9fbf1;
  border: none;
}
.btnCard:hover {
  background-color: #106567;
  color: #f9fbf1;
  border: none;
}